@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');
*{
	
 font-family: 'Titillium Web', sans-serif;	
  box-sizing: border-box;
}
body{
	font-weight: 400;
	margin: 0;
	color: #14110F;
	background-color: white;
}
#wrapper{
	margin: 0 auto;
	height: 4.5rem;;
	background-color: #14110F;
	text-align: center;
	padding: 1vw;

	position: sticky;
	top: 0; /*required for sticky property*/
	z-index: 1;
}
#logo{
	
	width:3%;
	float: left;
	 /*margin-bottom: 2vw;*/	
}

#links{
	display: inline-flex;
    float: right;
}
#links a{	
/*	font-weight: 200;*/
	background-clip: padding-box;
	background-size: 20%;
	border-radius: 8px 8px 8px 8px;
	width:12rem;
	color: #7681B3;
	text-decoration: none;
	font-size: 20px;
	transition: color 0.4s;
	transition: background-color 0.4s;/*transitions are needed on both ends in order for things to revert back to baseline smoothly */

}
#links a:hover{
	/*cursor: pointer;*/
	color: #E6E6E6;
	transition: color 0.4s;
	transition: 0.4s;/*transitions are needed on both ends in order for things to revert back to baseline smoothly */
	background-color: #7681B3;	
}
#intro{
	background-image: url(images/mehighres.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	padding: 20px;
	margin-top: 2vw;
	height: 25rem;
	/*background-size: 99%;*/
	
}
#end{
	margin-top: 4vw;
	background-image:url(images/scene.png);
	background-attachment: fixed;
	transition: 1s;	
	/*padding: 20px;*/
}
#dla{
	transition: 1s;		
align-content: center;
}


#showreel {
display: flex;
align-items: center;
justify-content: center;	
}

.video{
}
hr{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	height: 2px;
    border: 0;
	color: #14110F;
}


.contactform{
	display: flex;
    justify-content: center;
	text-align: center;
	margin-bottom: 5rem;	
}
.contactform input[type=text] {
	width:60%;
	height: 60%;
  margin: 8px 0;
  box-sizing: border-box;
	border-radius: 4px 4px 4px 4px;
}
.contactform textarea{
	width:60%;
	height: 60%;
  margin: 8px 0;
  box-sizing: border-box;
	border-radius: 4px 4px 4px 4px;
}
.contactform input[type=submit] {
	width:60%;
	height: 60%;
	 padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
	border-radius: 4px 4px 4px 4px;
	
}
label{
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-row: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
}
button{
background-color: #9D5C63;
color: white;
border-radius: 4px 4px 4px 4px;
}

.section {
		padding: 6rem;
	text-align: center;
   color: white;
	 text-shadow: 2px 2px #000000;	
}
h1,h2,h3,h4{
text-align: center;
font-size: 250%;
	
}
#audioGrid{
	background-image: url(images/audiobackground.png);
	background-size: cover;
	background-attachment: fixed;
	height: 50rem;
		align-content: center;
	justify-content: center;
}
#audio {	/* this covers the whole audio section, ie: master branch */ 

	display: grid;
	grid-template-columns: 1fr 1fr;

}
#music{
	justify-content: center;
	align-content: center;
    margin: 1vw;
	width:800px;
    height:200px;
	display: grid;
	grid-template-columns: 300px 300px;
	grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

	
}
#composition{
}
#foley{	
}
#sound{
		justify-content: center;
	align-content: center;
    margin: 1vw;
	width:800px;
    height:200px;
	display: grid;
	grid-template-columns: 300px 300px;
	grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
	float: left;
}

#anim{
	background-image: url(images/gallahad.png");
	background-attachment: fixed;
}
#gridContainer{
	align-content: center;
	max-width: 50vw;
	margin-left:25vw;
	margin-right:25vw;
}
#projects{
	align-content: center;
	justify-content: center;
padding: 5px;
	display: grid;
 grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (2, 150px);    
    grid-column-gap: 50px;
    grid-row-gap: 10px;	
}
#projects img{
	width: 400px;
}
#projects .video{
	width: 400px;
	height: 400px;
}
figure{

	background-color: white;
	padding: 2vw;
	border-radius: 8px 8px 8px 8px;
	border-style: solid;
	border-color: #14110F;
	border-width: 1px;
}
figure:hover{	
}

@media screen and (max-width: 600px) {

	body main{
	max-width: 100vw;
	margin-left: 0;
	margin-right: 0;
	}}
	/*Mobile*/
@media screen and (max-width: 400px) {
main{
	padding: 25px;
}
	#intro{
	background-image: url(images/mehighres.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 20px;
	margin-top: 2vw;
	height: 25vw
	}
	#intro p{
		display: none;
	
	}
/*wrapper{
	box-sizing: border-box;
	width: 100vw;
	display: flex;
	margin-bottom: 2vw;
	height: auto;
	box-shadow: 0px 10px 8px #584B53;
}*/

main img{
	border-radius: 6px 6px 6px 6px;
}

#nf-form-2-cont{
	text-align: center;
}

	#menu-item-78{
		float: right;
	}
#wrapper{
	 display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-content: center;
	padding-right: 6vw;
	padding-left: 0vw;
	font-size: 80%;
	list-style-type: none;
	height: 4rem;
    margin-bottom: 10vw;
}

main{
	align-content: center;
	justify-content: center;
    text-align: center;
	padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	#gridContainer{
	max-width: 80vw;
	margin-left: 10vw;
	margin-right: 10vw;
}
#projects{
margin-left: 2vw;
	margin-right: 2vw;
padding: 5px;
	display: grid;
 grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (2, 150px);    
    grid-column-gap: 20px;
    grid-row-gap: 10px;	
	}}