@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');
*{
	
 font-family: 'Titillium Web', sans-serif;	
  box-sizing: border-box;
}
body{
	font-weight: 400;
	margin: 0;
	color: #14110F;
	background-color: white;
}
#wrapper{
	margin: 0 auto;
	height: 4.5rem;;
	background-color: #14110F;
	text-align: center;
	padding: 1vw;
	position: sticky;
	top: 0; /*required for sticky property*/
	z-index: 1;
}
#logo{
	
	width:3vw;
	float: left;
	 /*margin-bottom: 2vw;*/	
}

#links{
	display: inline-flex;
    float: right;
}
#links a{	
/*	font-weight: 200;*/
	background-clip: padding-box;
	background-size: 20%;
	border-radius: 8px 8px 8px 8px;
	width:12rem;
	color: #7681B3;
	text-decoration: none;
	font-size: 20px;
	transition: color 0.4s;
	transition: background-color 0.4s;/*transitions are needed on both ends in order for things to revert back to baseline smoothly */

}
#links a:hover{
	/*cursor: pointer;*/
	color: #E6E6E6;
	transition: color 0.4s;
	transition: 0.4s;/*transitions are needed on both ends in order for things to revert back to baseline smoothly */
	background-color: #7681B3;	
}
#intro{
	background-image: url(images/gallahad.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0px -600px;
	background-size: cover;
	padding: 20px;
	padding-top: 6vw;
	height: 35rem;
}
#end{
	margin-top: 4vw;
	background-image:url(images/scene.png);
	background-attachment: fixed;
	transition: 1s;	
	/*padding: 20px;*/
}
#dla{
	transition: 1s;		
align-content: center;
}


#showreel {
display: flex;
align-items: center;
justify-content: center;	
}

.video{
	width: 560px; 
	height: 315px;
}
hr{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	height: 2px;
    border: 0;
	color: #14110F;
}


.contactform{
	
    justify-content: center;
	text-align: center;
	margin-bottom: 5rem;	
}
.contactform input[type=text] {
	width:60%;
	height: 60%;
  margin: 8px 0;
  box-sizing: border-box;
	border-radius: 4px 4px 4px 4px;
}
.contactform textarea{
	width:60%;
	height: 60%;
  margin: 8px 0;
  box-sizing: border-box;
	border-radius: 4px 4px 4px 4px;
}
.contactform input[type=submit] {
	width:60%;
	height: 60%;
	 padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
	border-radius: 4px 4px 4px 4px;
}
label{
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-row: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
}
button{
background-color: #9D5C63;
color: white;
border-radius: 4px 4px 4px 4px;
}

.section {
		padding: 1vw;
	text-align: center;
   color: white;
	padding-left: 8vw;
	padding-right: 8vw;
	 text-shadow: 2px 2px #000000;	
}
h1,h2,h3,h4{
text-align: center;
font-size: 250%;
	
}
#audioGrid{
	align-content: center;
	background-image: url(images/audiobackground.png);
	background-size: cover;
	background-attachment: fixed;
	height: 50rem;
	display: grid;
	grid-template-columns: 1fr;
}

#audio {	/* this covers the whole audio section, ie: master branch */ 
}
#music{
	justify-content: center;
	align-content: center;
    margin: 1vw;
	


	
}
#composition{
}
#foley{	
}
#sound{
	justify-content: center;
	align-content: center;
    margin: 1vw;
}

#anim{
	
	background-attachment: fixed;
}
#gridContainer{
	align-content: center;
	max-width: 50vw;
	margin-left:25vw;
	margin-right:25vw;
}
#projects{
	align-content: center;
	justify-content: center;
padding: 5px;
	display: grid;
 grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (2, 150px);    
    grid-column-gap: 50px;
    grid-row-gap: 10px;	
}
#projects img{
	width: 400px;
}
#projects .video{
	width: 400px;
	height: 400px;
}
figure{

	background-color: white;
	padding: 2vw;
	border-radius: 8px 8px 8px 8px;
	border-style: solid;
	border-color: #14110F;
	border-width: 1px;
}
figure:hover{	
}
@media screen and (min-width: 2800px) {
	.section p{
	     padding-left: 25vw;
		 padding-right: 25vw;
		text-align: center;
	}
#logo{
	width:2vw;
	}
	#wrapper{
	height: 5vh;
		justify-content: center;
	}}
@media screen and (min-width: 2000px) {

	.section p{
	     padding-left: 15vw;
		 padding-right: 15vw;
		text-align: center;
	}}
                                           /*small screens: tablets etc */
@media screen and (max-width: 500px) {
	#logo{
	display: none;	
	}
	#intro{
		display: none;
	}
	body{
	width: 100vw;
	
	}
	main{
		width: 100vw;
	}
	#end{
	max-width: 100vw;
}
#wrapper{

	background-color: #14110F;
	text-align: center;
	justify-content: center;
	padding-left: 0vw;
	padding-right: 0vw;
	height: 4.5rem;
	padding-top: 7vw;
	padding-bottom: 3vw;
    margin-bottom: 5vw;
	
}
		#links a{	

		align-content: center;
	text-align: center;
		justify-content: center;
	width:6rem;
	font-size: 15px;
	transition: color 0.4s;
	transition: background-color 0.4s;/*transitions are needed on both ends in order for things to revert back to baseline smoothly */
}
	.section{
		max-width: 50vw;
	}}
											/*MOBILE VERSION*/
@media screen and (max-width: 400px) {
#logo{
	display: none;	
	}
#wrapper{
	align-content: center;
	text-align: center;
	justify-content: center;
	background-color: #14110F; /*#14110F;*/
	padding-left: 0vw;
	height: 4.5rem;
	padding-top: 7vw;
	padding-bottom: 2vw;
    margin-bottom: 5vw;
}
	#links a{	

		align-content: center;
	text-align: center;
		justify-content: center;
	width:6rem;
	font-size: 15px;
	transition: color 0.4s;
	transition: background-color 0.4s;/*transitions are needed on both ends in order for things to revert back to baseline smoothly */
}
	h1,h2,h3,h4{
	text-align: center;	
	font-size: 8vw;;		
	}
	.video{
	width: 500px;
	height: 255px;
		}
main{
	display: flex;
	max-width: 80vw;
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 25px;
	}

	#intro{
		display: none;
	}
	.section{
		padding: 0.5vw;	
     }
	#audioGrid{	/*make invisible for mobile, until I figure out a better way to show off audio whoops */ 
      display: none;

		}

	#gridContainer{
		max-width: 80vw;
		/*display: flex;*/
		padding-left: 10vw;
		padding-right: 10vw;
	}
	#projects{
    padding: 5px;
 grid-template-columns: repeat(1, 1fr);
  grid-template-rows: (1, 200px);    
    grid-column-gap: 0.01vw;
    grid-row-gap: 0.02vw;	
}
#projects img{
	width: 250px;
}

	}