@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{
	/* make logo color 7BE773, 5386E4 for branding*/ 
font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
	 overflow-x: hidden;
}

body{
	color: #FFFFFF;
	margin: 0 auto;
	background-color: #090a0c;
	 overflow-x: hidden;

}

#logo{
	width: 8rem;
	height: auto;
}
#mixer{
	background-image: url("Content/images/background1.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 20%, 20%;

}	
#wrapper{
	padding: 1rem;
	text-align: center;
}
#links{
	word-spacing: 10rem;
}
#links a{
	text-decoration: none;
	transition: 1ms;	
}
#links a:hover{
	text-decoration: underline;
	transition: 1ms;
}
#introduction{
	margin: auto;
	align-self: center;
	align-content: center;
	display: flex;
	padding: 0.5rem;
	max-height: 50rem;
	
}
#introduction p{
	margin: auto;
	max-width: 60%;
	text-align: center;
}

#linkedin{
	text-decoration: none;
	color: #ffffff;
}
    	
#linkedin:hover{
	text-decoration: underline;
}
#stuff{
	margin: auto;
	align-self: center;
	align-content: center;
	text-align: center;
	
}
strong{
	font-size: 200%;
}

#work{
	text-align: center;
 align-content: center;
	padding: 3rem;
}
h2{
	padding:1rem;
}
hr{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.skill{
	padding: 1rem;
}
.skill p{
	max-width: 40%;
}
#game{
	background-image: url("Content/images/screenshot.png");
	background-size: cover;
}
/*Skill backgrounds for services*/
#trans{
background-image: url("Content/images/sheetBackground.png");
background-size: cover; 
	background-position: 40%, 40%;
}
#foley{
	background-image: url("Content/images/background1.png");
	background-size: 100%;
	background-position: 40%, 40%;
}
#edit{
	background-image: url("Content/images/audiobackground.png");
}
#gradient{
	text-align: center;
background: rgb(9,10,12);
background: linear-gradient(0deg, rgba(9,10,12,1) 16%, rgba(9,10,12,0.835171568627451) 41%, rgba(9,10,12,0.6587009803921569) 56%, rgba(9,10,12,0) 100%);
}
#services{
    background-color: #090a0c;
	text-align: center;
}

#qualifications{
	text-align: center;
}

/* CSS PORTFOLIO GRID */
.wrapper{font-size:0;}
.wrapper a{
  display:inline-block;
  width:25%;
  height:50vh;
  position:relative;
}
.wrapper a img {
  height:100%; 
  width:100%;
  object-fit:cover;}
a:before, a:after{
  width:100%;
  position:absolute;
  opacity:0;
  transition:opacity 0.3s ease;

}
.wrapper a:before{
  content:'';
  height:100%;
  background:rgba(83, 134, 228, 0.7);
}

.wrapper a:after{
  content:attr(data-title);
  text-transform:uppercase;
  top:calc(50% - 0.5em);
  font-size:22px;
  left:0;
  text-align:center;
  color:#ffffff;
}

.wrapper a:hover:before, a:hover:after{
  opacity:1;
}
#contact{
	text-align: center;
}
.field{
	padding: 0.1rem;
}
#bttn {
    color: #fff;
    background: #6D58FF;
   height: 41px;
    width: 160px;
    icon: #fff;
    padding: 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    border: none;
    outline: none;
 

    }
footer{
	padding: 1rem;
}


                                     /*RESPONSIVE CSS*/


/* copied and pasted from shangri la, change accordingly */
@media screen and (min-width: 1500px) {
#introduction{


		margin: auto;
	align-self: center;
	align-content: center;
	display: flex;
	padding: 0.5rem;
	max-height: 50rem;
}
	audio{
		width: 50%;
	}
}
@media (max-width:900px){
.wrapper a{
  width:50%;
  height:60vh;
}
	#wrapper h3{
		display: none;
	}
	#mixer{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
}

	#introduction{
    max-width: 100vw;
	padding: 0.5rem;
	
}
}

@media screen and (max-width: 750px) {
.wrapper a{
  width:50%;
  height:auto;
}
	#logo{
	width: 6rem;
	height: auto;
}
	#wrapper h1{
		font-size: 1rem;
	}
	#mixer{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
}
	#introduction{
    max-width: 100vw;
	padding: 0px;	
}
	#introduction p{
		max-width: none;
		max-height: 40rem;
		
	}
	.skill{
		max-width: none;
		padding: 0px;
		font-size: 0.9rem;
		background-size: 0px;
	}
	/*Skill backgrounds for services*/
	#game{
	background-size: 0px;
	}

	#trans{
background-size: 0px;
	}
	#foley{
	background-size: 0px;
	}	
	#edit{
	background-size: 0px;
	}
	#services{
	background-size: 0px;
	}
	#qualifications{
	background-size: 0px;
	}
	audio{
		width: 40%;
	}
	

}


										/*Mobile*/

@media screen and (max-width: 400px) {
	#logo{
	width: 5rem;
	height: auto;
}
	#extra{
		display: none;
	}
	#wrapper h3{
		display: none;
	}
	#wrapper h1{
		font-size: 0.9rem;
	}
	/*.wrapper a{
	 	width:25%;
  		height:auto;
	}
	/*.wrapper a img {
  		height:20%; 
  		width:100vh;
	}*/
	#services p{
		display: none;
	}
	.skill p{
		display: none;
	}
	#introduction p{
		max-height: 40rem;
	}
	#mixer{
		background-size: cover;
	 	background-repeat: no-repeat;
		background-attachment: local;
	}
	audio{
		display: none;
		
	}
}
